<div class="container px-5 px-sm-0">

  <div class="row">
    <div class="col-md-3">

<%= render 'users/user1', book: @book %>
<%= render 'new', book: @books %>
</div>

      <div class="col-md-8 offset-md-1">

<h2>Book detail</h2>


<table class="table">

  <tr>
   <th>
     <span>
        <%= link_to user_path(@book.user.id),class: 'nav-link text-blue' do %>
        <%= image_tag @book.user.get_profile_image(100,100) %><br>
        <%= @book.user.name %>
        <% end %>
     </span>
   </th>



   <th>
     <span>
      <p><%= @book.title %></p>
     </span>
   </th>

   <th>
     <span>
      <p><%= @book.body %></p>
     </span>
   </th>

   <th>
         <%= link_to edit_book_path(@book.id),class: "btn btn-sm btn-success edit_book_210" do %>
         Edit
         <% end %>
   </th>

   <th>
         <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_book_210" do %>
         Destroy
         <% end %>
   </th>
  </tr>
</table>
    </div>
  </div>
</div>