<%= render 'users/user1', book: @book %>
<%= render 'new', book: @books %>

<h2>Book detail</h2>
<p><%= image_tag @book.user.get_profile_image(100,100) %></p>
<p><%= link_to @book.user.name, user_path(@book.user.id) %></p>
<p><%= @book.title %></p>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete %>